@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  overflow-x: hidden;

}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  overflow-y: hidden !important;
}

@counter-style thumbs {
  system: cyclic;
  symbols: "-";
  suffix: " ";
}



